<h1 id="regarding-iterators">Regarding Iterators</h1>
<h2 id="there-have-been-numerous-attempts">There have been numerous attempts</h2>
<h3 id="some-kind-of-last-section-head">Some kind of last section head</h3>
<blockquote>
<p>This is the first level of quoting.</p>
<blockquote>
<p>This is nested blockquote.</p>
</blockquote>
<p>Back to the first level.</p>
</blockquote>
<ul>
<li>Red</li>
<li>Green</li>
<li>Blue</li>
</ul>
<p>Here is an example of AppleScript:</p>
<pre><code>#include &lt;iostream&gt;

int main() {
    std::cout &lt;&lt; &quot;Hello World!&quot; &lt;&lt; std::endl;
    return 0;
}</code></pre>
<p>This is an example <a href="http://example.com/" title="Optional Title Here">foo</a> link.</p>
<p><em>single asterisks</em></p>
<p><em>single underscores</em></p>
<p><strong>double asterisks</strong></p>
<p><strong>double underscores</strong></p>
<table>
<thead>
<tr class="header">
<th align="left">Iterator Type</th>
<th align="left">it</th>
<th align="left">it</th>
<th align="left">it</th>
<th align="left">equality</th>
<th align="left">ordering</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Forward</td>
<td align="left">asdf</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">Backward</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Input</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">Bidirectional</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Random Access</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
</tr>
</tbody>
</table>
