<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/markdown.css') }}" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    <title>The Elegant Pixel</title>
</head>

<body>
{% include "components/component_header.html" %}

<div id="content">
    <div id="col-content">
        {% include "view_" + context["view"] + ".html" %}
    </div>

    <div id="col-sidebar">
        {% include "components/sidebar.html" %}
    </div>
</div>
</body>
</html>
